.container {
  display: flex;
  margin-bottom: 90px;
  margin-top: 1rem;
  justify-content: space-between;
}

.container button {
  margin-right: 32px;
  border-radius: 0.5rem;
  height: 48px;
  width: 100%;
  background-color: var(--primary-blue-color);
  color: var(--primary-font-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border: none;
}

.container button:disabled {
  background-color: var(--disabled-color);
}

.container button:last-of-type {
  margin-right: 0;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 48px;
  }
}
