.container {
  width: 528px;
  max-width: 40%;
}

.disabledGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  .container {
    height: 478px;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    height: 478px;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    height: 478px;
    max-width: 100%;
  }
}
