.inputGroupContainer {
  display: grid;
  grid-row-gap: 8px;
  text-align: left;
}

.inputGroupLabel {
  font-size: 18px;
  font-weight: 500;
  color: var(--secondary-font-color);
}

.inputGroupWrapper {
  display: flex;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-font-color);
  background-color: var(--secondary-color);
}

.inputGroupInput {
  font-size: 16px;
  font-weight: 400;
  background-color: var(--secondary-color);
  width: 85%;
  border: none;
  padding: 12px 24px;
  border-radius: 0.5rem;
  color: var(--primary-font-color);
}

.inputGroupInput:disabled {
  color: var(--note-font-color);
  cursor: not-allowed;
}

.suffix {
  width: 10%;
  padding: 12px 0 0 15px;
  color: var(--note-font-color);
}

.errMessage {
  font-size: 16px;
  font-weight: 400;
  color: #ff9494;
  margin-top: 4px;
}
