.signButton {
  height: 48px;
  width: 240px;
}

.signButton button {
  color: var(--pure-white-color);
  height: 48px;
  width: 120px;
  border: none;
}

.signButton button:first-child {
  background-color: var(--primary-color);
  border-radius: 10px 0 0 10px;
}

.signButton button:last-child {
  background-color: var(--primary-blue-color);
  border-radius: 0 10px 10px 0;
}
